<!DOCTYPE html>
<html lang="en" ng-app="rootsApp">
<head>
    <meta charset="utf-8">
    <title>Roots for the Home Team</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500,300' rel='stylesheet' type='text/css'>

    <link rel='stylesheet' type="text/css" href='/assets/css/bootstrap/css/bootstrap.css'>
    <link rel='stylesheet' type="text/css" href='/assets/css/popupS.css'>
    <link rel='stylesheet' type="text/css" href='/assets/css/styles.css'>
    <link rel='stylesheet' type="text/css" href='/assets/css/userView.css'>
    <link rel='stylesheet' type="text/css" href='/assets/css/loginView.css'>

    <script src="/assets/vendors/angular.js"></script>
    <script src="/assets/vendors/angular-route.js"></script>
    <script src="/assets/js/app.js"></script>
    <script src="/assets/vendors/popupS.js"></script>
    <script src="/assets/js/factories/VenueEventsFactory.js"></script>
    <script src="/assets/js/factories/SharedVenues.js"></script>
    <script src="/assets/js/controllers/LoginController.js"></script>
    <script src="/assets/js/controllers/MainHelpController.js"></script>
    <script src="/assets/js/controllers/NavController.js"></script>
    <script src="/assets/js/controllers/TabController.js"></script>
    <script src="/assets/js/controllers/FormEventController.js"></script>
    <script src="/assets/js/controllers/MessageController.js"></script>
    <script src="/assets/js/controllers/ModalController.js"></script>
    <script src="/assets/js/controllers/NoticeAlertController.js"></script>
    <script src="/assets/js/controllers/NoticeSendController.js"></script>
    <script src="/assets/js/controllers/PrevController.js"></script>
    <script src="/assets/js/controllers/SaveController.js"></script>
    <script src="/assets/js/controllers/ScheduleController.js"></script>
    <script src="/assets/js/controllers/UserCreateFormController.js"></script>
    <script src="/assets/js/controllers/UserScheduleFormSubmitController.js"></script>



</head>
<body class="yellowTrans container-fluid">
    <header ng-controller="MainController" ng-hide="isPartial('/login')" class="green row" >
            <div class="col-sm-1 col-md-1"><img class="icon" ng-click="onIconCLick()" src="/assets/img/watercan.png"></div>
            <div class="col-sm-4 col-md-2"><h2 class="whiteText">Welcome</h2></div>
            <div class="logOut col-sm-2 col-sm-offset-5 col-md-2 col-md-offset-7"><h2 class="whiteText moveLeft">Logout</h2></div>
    </header>
    <main>
        <div ng-view></div>
    </main>
</body>
</html>
