p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500
}

.notification {
    padding: 0 0 0 14px;
}

.slightSqound {
    border-radius:3px;
    padding: inherit;
    margin-top: 7px
}

.green {
    background-color: #55AC3A;
}

.orange {
    background-color: #DA7400;
}

.blue {
    background-color: #6B99FF;
}

.yellow {
    background-color: #EDB816;
}
.white {
    background-color: white;
}

.light {
    font-weight: 300;
}

.bold {
    font-weight: 500;
}

.bolder {
    font-weight: 700;
}

.icon {
    width: 3.33em;
    padding-top: 10px;
}

/*----- Tab Stuff -----*/

.tabs {
    width:100%;
    display:inline-block;
}

.tab-header {
    width: 100%;
    margin: 0;
    padding: 9px;
    color: white;
}

.tab-align-center {
    text-align: center;
}

.tab-align-left {
    text-align: left;
}

.tab-content {
    padding:15px;
    border-radius:3px;
    background: white;
    text-align: center;

}

.tab.active {
    display:block;
}

.tabLabel {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin:0;
    padding: 0;
    font-size: 20px
}

/*----- Tab Links -----*/
/* Clearfix */

.tab-links {
    margin:-1px;
}

.tab-links:after {
    display:block;
    clear:both;
    content:'';
}

.tab-links li {
    margin:0px 0px;
    float:left;
    list-style:none;
}

.tab-links a {
    padding: 9px 10px;
    display: inline-block;
    text-decoration: none;
    border-radius: 3px;
    margin: 9px 0px -5px;
    color: white;
    background-color: #DA7400;
}

.tab-links a:hover {
    text-decoration:none;

}

li.active a, li.active a:hover {
    background: white;
    color:black;
}

/*----- Schedule parts -----*/
.scheduleTitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin:0;
    text-align: center;
    padding:10px;
    font-size: 22px;
    color: white;

}

.scheduleLabel {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin:0;
    text-align: left;
    padding:0px;
    font-size: 18px;
    color: black;
}

.selectorStyle {
    height: 46px;
    width: 85px;
    border-radius: 3px;
    border: none;
    margin: 0px 0px 0px 50px;
}

.wrapper {
    margin: 0px 83px 3px 83px;
    padding: 3px 0px 1px 0px;
}


