p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400
}
.green {
    background-color: #55AC3A;
}

.orange {
    background-color: #DA7400;
}

.blue {
    background-color: #6B99FF;
}

.yellow {
    background-color: #EDB816;
}

.light {
    font-weight: 300;
}

.bold {
    font-weight: 500;
}

.bolder {
    font-weight: 700;
}

.icon {
    width: 40px;
}