.venueBox:first-child{
    margin-top: 2em;
}
.venueBox{
    margin-top: .5em;
}
.venueContainer{
    text-align:center;
}

.venueWrapper{
    border-bottom: 3px solid #EDB816;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.venueHeader{
    text-align:center;
    font-size: 18px;
}

.venueLabel{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin:0;
    padding: 0;
    font-size: 24px;
}

.venueOptions{
    padding: 5px 2px;
    background-color: white;
    font-size: 16px;
}
.venueOptions:nth-child(odd) {
    background-color: lightgray;
    text-align:center;
}

.vTop{
    padding: 8px 0;

}
/*btn colors*/
.btnPref{
    height: 14px;
    width: 16px;
    border-radius: 3px;
    border: none;
}

.go{
    background-color: green;
}

.yield{
    background-color: orange;
}

.stop{
    background-color: red;
}

div.options{
    vertical-align: bottom;
}

.userSubmit{
    margin-top: 1.250em;
    text-align: center;
}

.btnUser {
    border-radius: 2px;
    padding: .5em;
    border: none;
    color: white;
}

/*input[type="radio"]{*/
    /*border-radius: 2px;*/
    /*color: red;*/
    /*font-family:Arial, sans-serif;*/
    /*font-size:14px;*/
/*}*/
