<div class="container-fluid">
    <div class="row"><div><p><br></p></div>
    </div>
    <div class="row">
        <div class="col-md-1 yellowTrans"></div>
        <div class="col-md-4 yellowTrans slightSqound" ng-controller="TabController">
            <ul class="tab-links tabs" ng-init="currentTab='tabA'">
                <li class="tabLabel" ng-class="{active: isActive('tabA')}"><a ng-click="onTabClick('tabA')"><p class="tabLabel">Alerts</p></a></li>
                <li ng-class="{active: isActive('tabB')}"><a ng-click="onTabClick('tabB')"><p class="tabLabel">Quick Send</p></a></li>
            </ul>
            <div id="tabA" class="tab-content" ng-show="isActive('tabA')" ng-class="{active: isActive('tab1')}" ng-controller="NoticeAlertController as list">
                <button ng-repeat="message in list.messages" class="notifButton"><img class="notifIcon" src="/assets/img/pailorange.png"><h2>{{ message.id }}: {{ message.text }} has submitted</h2>
                    <p class="subtext">click to remove</p></button>
            </div>
            <div id="tabB" class="tab-content align-left" ng-show="isActive('tabB')"  ng-class="{active: isActive('tab2')}" ng-controller="NoticeSendController">
                <form novalidate>
                    <h2 class="higher">Who do you want to notify?</h2>
                    <div class="center">
                        <input type="checkbox" name="gardenGroupAFC" ng-model="gardenGroupAFC" id= "gardenGroupAFC" value="userName for Appetite for change" class="css-checkbox">
                        <label for="gardenGroupAFC" class="css-label">Appetite for Change</label>

                        <input type="checkbox" name="gardenGroupDWH" ng-model="gardenGroupDWH" id= "gardenGroupDWH" value="userName for Dream of Wild Health" class="css-checkbox">
                        <label for="gardenGroupDWH" class="css-label">Dream of Wild Health</label>

                        <input type="checkbox" name="gardenGroupURF" ng-model="gardenGroupURF" id="gardenGroupURF" value="userName for Urban Roots Farm" class="css-checkbox">
                        <label for="gardenGroupURF" class="css-label">Urban Roots Farm</label>

                        <input type="checkbox" name="gardenGroupYFF" ng-model="gardenGroupYFF" id="gardenGroupYFF" value="userName for Youth Farm Frogtown" class="css-checkbox">
                        <label for="gardenGroupYFF" class="css-label">Youth Farm Frogtown</label>

                        <input type="checkbox" name="gardenGroupYFH" ng-model="gardenGroupYFH" id="gardenGroupYFH" value="userName for Youth Farm Hawthorne" class="css-checkbox">
                        <label for="gardenGroupYFH" class="css-label">Youth Farm Hawthorn</label>

                        <input type="checkbox" name="gardenGroupYFL" ng-model="gardenGroupYFL" id= "gardenGroupYFL" value="userName for Youth Farm Lyndale" class="css-checkbox">
                        <label for="gardenGroupYFL" class="css-label">Youth Farm Lyndale</label>

                        <input type="checkbox" name="gardenGroupYFP" ng-model="gardenGroupYFP" id= "gardenGroupYFP" value="userName for Youth Farm Powderhorn" class="css-checkbox">
                        <label for="gardenGroupYFP" class="css-label">Youth Farm Powderhorn</label>

                        <input type="checkbox" name="gardenGroupYFW" ng-model="gardenGroupYFW" id= "gardenGroupYFW" value="userName for Youth Farm W. Side" class="css-checkbox">
                        <label for="gardenGroupYFW" class="css-label">Youth Farm W. Side</label>
                    </div>

                    <h2 class="higher">What do you want to send?</h2>
                    <div class="center">
                        <input type="radio" name="signUp" id="signUp" value="Hello everyone - our game schedule for the season is ready for your sign up.  Please pick the
                        games that can work for you. Note your first and second choices and if there are dates that are not doable. Thank you. We'll confirm your game dates
                        within the next couple of weeks." class="css-checkbox-radio"/>
                        <label for="signUp" class="css-label-radio radGroup1">Sign-up Request</label>
                        <br>

                        <input type="radio" name="signUp" id="firstRemind" value="Hello - please take a look at our game schedule and sign up for
                        which dates work for your program. We need your picks by the end of the week.  Thank you." class="css-checkbox-radio"/>
                        <label for="firstRemind" class="css-label-radio radGroup1">Quick Reminder</label>
                        <br>

                        <input type="radio" name="signUp" id="secondRemind" value="Hi - Please sign up for your games as soon as possible. We need to
                        confirm dates with everyone in the next couple of days.  Thank you." class="css-checkbox-radio"/>
                        <label for="secondRemind" class="css-label-radio radGroup1">Second Reminder</label>

                    </div>
                    <br>
                    <button type="submit" class="green slightSqound formButton" ng-click="sendQuickMail()"><img class="buttonIcon" src="/assets/img/pail.png">Submit</button>
                </form>
            </div>
        </div>

        <div class="col-md-2 yellowTrans"><img class="backgroundIcon" src="/assets/img/RootsLogoTrans.png"></div>

        <div class="col-md-4 yellowTrans slightSqound" ng-controller="TabController">
            <ul class="tab-links tabs" ng-init="currentTab='tab1'">
                <li class="tabLabel" ng-class="{active: isActive('tab1')}"><a ng-click="onTabClick('tab1')"><p class="tabLabel">Add Event</p></a></li>
                <li ng-class="{active: isActive('tab2')}"><a ng-click="onTabClick('tab2')"><p class="tabLabel">Add User</p></a></li>
                <li ng-class="{active: isActive('tab3')}"><a ng-click="onTabClick('tab3')"><p class="tabLabel">Send Notices</p></a></li>
            </ul>
            <div id="tab1" class="tab-content" ng-show="isActive('tab1')" ng-class="{active: isActive('tab1')}" ng-controller="FormEventController">
                <form class="css-form" novalidate>
                    <img class="decor-img" src="/assets/img/longbackground.png">
                    <label for="Venues" class="formButton tabFormLabel">Event Venue:</label>
                    <input type="text" name="venueName" ng-model="venueName" placeholder="Choose Venue" list="Venues" required/>
                    <datalist id="Venues">
                        <option value="Target Field">Target Field</option>
                        <option value="TCF Stadium">TCF Stadium</option>
                    </datalist><br>
                    <label for="eventDate" class="formButton tabFormLabel">Event Date: &nbsp;&nbsp;</label>
                    <input id="eventDate" name="eventDate" type="date" ng-model="eventDate" required><br>
                    <label for="startTime" class="formButton tabFormLabel">Event Time: &nbsp;</label>
                    <input id="startTime" name="gameTime" type="time" ng-model="gameTime" required><br>
                    <label for="arrivalTime" class="formButton tabFormLabel">Arrival Time:</label>
                    <input id="arrivalTime" name="arrivalTime" type="time" ng-model="arrivalTime" required><br>
                    <label for="submitBy" class="formButton tabFormLabel">Submit By: &nbsp;&nbsp;</label>
                    <input id="submitBy" name="submitBy" type="date" ng-model="submitBy" required>
                    <br><br>
                    <button type="submit" ng-click="submitEventForm()" class="green slightSqound formButton"><img class="buttonIcon" src="/assets/img/jar.png">Submit</button>
                </form>
            </div>
                    <div id="tab2" class="tab-content" ng-show="isActive('tab2')"  ng-class="{active: isActive('tab2')}" ng-controller="RegisterController">
                            <form class="css-form" novalidate ng-submit="register()">
                                <img class="decor-img" src="/assets/img/longbackground.png">
                                <label for="orgName" class="formButton tabFormLabel">Group Name:</label>
                                <input id="orgName" type="text" name="orgName" ng-model="orgName" placeholder="Organization Name" required><br>
                                <label for="firstName" class="formButton tabFormLabel">First Name: &nbsp;&nbsp;</label>
                                <input id="firstName" type="text" name="firstName" ng-model="firstName" placeholder="Contact First Name" required><br>
                                <label for="lastName" class="formButton tabFormLabel">Last Name:  &nbsp;&nbsp;</label>
                                <input id="lastName" type="text" name="lastName" ng-model="lastName" placeholder="Contact Last Name" required><br>
                                <label for="userEmail" class="formButton tabFormLabel">User Email:  &nbsp;&nbsp;</label>
                                <input id="userEmail" type="text" name="username" ng-model="username" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" placeholder="Contact Email" required><br>
                                <label for="password" class="formButton tabFormLabel">Password:&nbsp; &nbsp;&nbsp;</label>
                                <input id="password" type="password" name="password" ng-model="password" placeholder="eg: UrbanRoots986"><br>
                                <br>
                                <button type="submit" class="green slightSqound formButton"><img class="buttonIcon" src="/assets/img/apple.png">Submit</button>
                            </form>
                    </div>


            <div id="tab3" class="tab-content" ng-show="isActive('tab3')"  ng-class="{active: isActive('tab3')}" ng-controller="MessageController">
                <form class="css-form">
                    <img class="decor-img" src="/assets/img/longbackground.png">

                    <label for="sendToemail" class="formButton tabFormLabel">Email:&nbsp;</label>
                    <div ng-controller="UserDropDownController">
                        <input id="sendToemail" type="text" name="sendToemail" ng-model="sendToemail" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" placeholder="Send to Email" list="Emails" required/>
                        <datalist id="Emails">
                            <option  ng-repeat="user in users" value="{{user.username}}">{{user.orgName}}</option>
                        </datalist><br>
                    </div>

                    <label for="sendToName" class="formButton tabFormLabel">Name:</label>
                    <input id="sendToName" name="sendToname" type="text" ng-model="sendToname" placeholder="Name" required><br>
                    <textarea id="styled" name="sendTomessage" cols="20" rows="10" ng-model="sendTomessage" placeholder="A custom message" required></textarea>
                    <br><br>
                    <button type="submit" class="green slightSqound formButton" ng-click="sendMail()"><img class="buttonIcon" src="/assets/img/pail.png">Submit</button>
                </form>
            </div>
        </div>

        <div class="col-md-1 yellowTrans"></div>
    </div>

    <div class="row"><br></div>

    <div class= 'col-md-12 hidden-xs' ng-controller="ScheduleController">

        <div  class = "col-md-12 venueContainer" ng-repeat=" venue in venues.data">
            <div class="hidden">
                {{
                $venueIndex = $index;

                $venueName = venue.venueName;
                formData[$venueIndex].venueName = $venueName;
                }}
            </div>
            <div class = 'orange  row container-fluid venueWrapper slightSqound' ng-click = 'display = !display'>
                <div class = ' vTop orange col-md-12'><h2 class="tab-header">{{$venueName}}</h2></div>
            </div>

            <div ng-show = 'display' >

                <div class = "venueHeader yellow  row container-fluid">
                    <div class = "col-md-1 scheduleTitle">Event Date:</div>
                    <div class = "col-md-1 scheduleTitle">Arrival Time:</div>
                    <div class = "col-md-1 scheduleTitle">Event Time:</div>
                    <div class = "col-md-1"></div>
                    <div class = "col-md-1" ng-repeat="orgName in $arrayOrgs"><p>{{orgName}}</p></div>
                </div>
                <div ng-repeat="event in venue.events" class = "venueOptions row container-fluid">
                    <div class="hidden">
                        <!--had to set the index of the array to a unique name to avoid overwriting with each itteration-->
                        <!--set scope to form data so that data could be read and saved-->
                        {{
                        $eventIndex = $index;

                        $eventDate = (event.event.eventDate | date: 'mediumDate');
                        formData[$venueIndex].events[$eventIndex].eventDate = $eventDate;

                        $arrivalTime = (event.event.arrivalTime | date: 'h:mm a');
                        formData[$venueIndex].events[$eventIndex].arrivalTime = $arrivalTime;

                        $gameTime = (event.event.gameTime | date: 'h:mm a');
                        formData[$venueIndex].events[$eventIndex].gameTime = $gameTime;
                        }}
                    </div>
                    <div class = "col-md-1 scheduleLabel">{{$eventDate}}</div>
                    <div class = "col-md-1 scheduleLabel">{{$arrivalTime}}</div>
                    <div class = "col-md-1 scheduleLabel">{{$gameTime}}</div>
                    <div class = "col-md-1"><div>&nbsp;&nbsp;</div></div>
                    <!--form needs individual name each time it repeats-->
                    <form name="form_{{$venueIndex}}_{{$eventIndex}}" novalidate>
                            <!--loop through org and pref...if pref is true show radio input if false don't-->
                        <div ng-repeat="organizationName in $arrayOrgs">
                            <div class="hidden">
                                {{
                                $preference = getOrgPreference(organizationName, event.event.organization);
                                }}
                            </div>
                            <div class = "col-md-1">
                                <!--specific group is found and value is set by user form - color changes based on value with ng-class-->
                                <div class="selectorStyle" ng-class="{grey: ($preference == 'cannot'), yellow: ($preference == 'second'), green: ($preference == 'first')}">
                                    <!--if selection is yes and org is app for change then show this input-->
                                    <!--this ng-model will likely have just the org name preference for this game ie yes/no as their name slot is set this is currently set to orgName-->
                                    <input type="radio" ng-if="$preference !== 'cannot'"  ng-model="formData[$venueIndex].events[$eventIndex].orgName" name="radio_{{$venueIndex}}_{{$eventIndex}}" ng-value= organizationName>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                </div>
            </div>
            <div class = "col-md-12">
                <button type="button"  ng-click="submitAndSave()" class="generateStyle green formButton">Save Schedule</button>
                <button type="submit" ng-controller="ModalController" ng-click="generateSchedule()" class="generateStyle green formButton">Generate Schedule</button>
                <!--<button type="submit" ng-controller="PrevController" ng-click="viewPreviousSchedule()" class="generateStyle green formButton">View Previous</button>-->
            </div>
        </div>

    </div>

    <div></div>
</div>
