<div ng-controller="loginCtrl">

    <div>
        <img class="img-responsive center-block" src="/assets/img/RootsLogoTrans.png">
    </div>
    <div  class = "loginContainer  col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 ">
        <div class="loginHeader green ">
            <h2 class = 'whiteHeader'>Sign In</h2>
        </div>
        <form class="container-fluid loginForm" ng-submit="submit()">
            <div>
                <input type="text" placeholder="Username" name="username" ng-model="user.username" id="username">
            </div>
            <div>
            <input type="password" placeholder="Password" name="password" ng-model="user.password" id="password">
            </div>
            <div>
                <input class="orange whiteHeader loginBtn" type="submit" value="Login">
            </div>
        </form>
    </div>
</div>


