<!--this won't really be a partial I don't think it will be in a modal that shows on button click
or it could be a new view depending on if the modal can use the scope...-->

<div>
    <div  class = "venueContainer">
        <div class="modalWidth">
            <div class = "modalHeader orange row container-fluid">Twins Stadium</div>
            <div class = "venueHeader yellow row container-fluid">
                <div class = "col-md-1 modalTitle">Date:</div>
                <div class = "col-md-1"></div>
                <div class = "col-md-2 modalTitle">Arrival Time:</div>
                <div class = "col-md-2"></div>
                <div class = "col-md-2 modalTitle">Event Time:</div>
                <div class = "col-md-1"></div>
                <div class = "col-md-2 modalTitle">Group</div>
            </div>
            <div class = "venueOptions row container-fluid">
                <div class = "col-md-1 scheduleLabel">Sat, 03/22</div>
                <div class = "col-md-1"></div>
                <div class = "col-md-2 scheduleLabel">10:00 AM</div>
                <div class = "col-md-2"></div>
                <div class = "col-md-2 scheduleLabel">1:00 PM</div>
                <div class = "col-md-1"></div>
                <div class = "col-md-2"><button type="button" class="modalButton green">{group name}</button></div>
            </div>

        </div>
    </div>
</div>

