<!--this won't really be a partial I don't think it will be in a modal that shows on button click
or it could be a new view depending on if the modal can use the scope...-->

<div class= 'col-md-12'>

    <div  class = "col-md-12 venueContainer" id="printArea" ng-repeat="schedule in schedule.data">
        <div class="hidden">

        </div>
        <div class = 'orange  row container-fluid venueWrapper slightSqound'>
            <div class = ' vTop orange col-md-12'><h2 class="tab-header">{{schedule.venueName}}</h2></div>
        </div>

            <div class = "venueHeader yellow  row container-fluid">
                <div class = "col-md-2 scheduleTitle">Event Date:</div>
                <div class = "col-md-2 scheduleTitle">Arrival Time:</div>
                <div class = "col-md-2 scheduleTitle">Event Time:</div>
                <div class = "col-md-6"></div>
            </div>
                <div class = "venueHeader yellow  row container-fluid">
            <div ng-repeat="event in schedule.events" class = "venueOptions row container-fluid">
                <div class = "col-md-2 scheduleLabel">{{event.eventDate | date: 'mediumDate'}}</div>
                <div class = "col-md-2 scheduleLabel">{{event.arrivalTime | date: 'h:mm a'}}</div>
                <div class = "col-md-2 scheduleLabel">{{event.gameTime | date: 'h:mm a'}}</div>

                <div class = "row container-fluid">
                <div class = "col-md-6">
                    <div>
                        {{event.orgName}}
                    </div>
                </div>
                </div>
            </div>
        </div>

    </div>
    <div class = "col-md-12"><br></div>
    <div class = "col-md-12">
        <button type="button"  ng-click="submitAndSave()" class="generateStyle green formButton">Save Schedule</button>
        <button type="submit" ng-controller="FinalScheduleViewController" ng-click="generateSchedule()" class="generateStyle green formButton">Generate Schedule</button>
        <!--<button type="submit" ng-controller="PrevController" ng-click="viewPreviousSchedule()" class="generateStyle green formButton">View Previous</button>-->
        <button type="button"  ng-click="printSchedule()" class="generateStyle green formButton">Print Schedule</button>

    </div>
    <div class = "col-md-12"><br></div>
    <div class = "col-md-12"><br></div>
</div>




