<!--this won't really be a partial I don't think it will be in a modal that shows on button click
or it could be a new view depending on if the modal can use the scope...-->

<div class= 'col-md-12 hidden-xs overflow'>

    <div  class = "col-md-12 venueContainer" ng-repeat="venueName in schedule">
        <div class="hidden">

        </div>
        <div class = 'orange  row container-fluid venueWrapper slightSqound'>
            <div class = ' vTop orange col-md-12'><h2 class="tab-header">{{venueName}}</h2></div>
        </div>

            <div class = "venueHeader yellow  row container-fluid">
                <div class = "col-md-1 scheduleTitle">Event Date:</div>
                <div class = "col-md-1 scheduleTitle">Arrival Time:</div>
                <div class = "col-md-1 scheduleTitle">Event Time:</div>
                <div class = "col-md-1"></div>
                <div class = "col-md-1" ng-repeat="event in schedule.events"><p>{{event.orgName}}</p></div>
            </div>
            <div ng-repeat="event in schedule.events" class = "venueOptions row container-fluid">
                <div class="hidden">

                </div>
                <div class = "col-md-1 scheduleLabel">{{event.eventDate}}</div>
                <div class = "col-md-1 scheduleLabel">{{event.arrivalTime}}</div>
                <div class = "col-md-1 scheduleLabel">{{event.gameTime}}</div>
                <div class = "col-md-1"><div>&nbsp;&nbsp;</div></div>

                    <div ng-repeat="event in schedule.events">
                        <div class="hidden">

                        <div class = "col-md-1">
                            <!--specific group is found and value is set by user form - color changes based on value with ng-class-->
                            <div class="selectorStyle">
                                <p>{{event.orgName}}</p>

                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

</div>



