<div id='printArea' class= 'col-md-12' ng-controller="PrintScheduleController" class="center">
    <table style="width:100%">
    <tr class="scheduleTitle orange printBorder">
        <td class="printTable printBorder">Venue:</td>
        <td class="printTable printBorder">Event Date:</td>
        <td class="printTable printBorder">Arrival Time:</td>
        <td class="printTable printBorder">Event Time:</td>
        <td class="printTable printBorder">Garden Group:</td>
    </tr>
    </table>
    <table style="width:100%" ng-repeat="schedule in schedule.data">
        <tr ng-repeat="event in schedule.events" class="white scheduleLabel">
            <td class="printTable borderOrange">{{schedule.venueName}}</td>
            <td class="printTable borderOrange">{{event.eventDate | date: 'mediumDate'}}</td>
            <td class="printTable borderOrange">{{event.arrivalTime | date: 'h:mm a'}}</td>
            <td class="printTable borderOrange">{{event.gameTime | date: 'h:mm a'}}</td>
            <td class="printTable borderOrange">{{event.orgName}}</td>
        </tr>
    </table>
    <br>
    <button type="button" ng-click="printSchedule()" class="generateStyle green formButton">Print Schedule</button>
</div>