<div ng-controller="userGroupCtrl" >
    <div class= 'col-xs-12 col-md-6 col-md-offset-3 venueBox'>
        <div  class = "col-xs-12 venueContainer">
            <div class = 'orange  row container-fluid venueWrapper' ng-click = 'display = !display'>
                <div class = 'vTop orange col-xs-12 slightSqound'><p class="tabLabel whiteText">VENUE</p></div>
            </div>
            <div ng-show = 'display' >
                <div class = "venueHeader yellow  row container-fluid">
                    <div class = "col-xs-2">Date:</div>
                    <div class = "col-xs-2">Arrival:</div>
                    <div class = "col-xs-2">Event:</div>
                    <div class = "col-xs-2">1st</div>
                    <div class = "col-xs-2">2nd</div>
                    <div class = "col-xs-2">Unable</div>
                </div>
                <div class = "venueOptions row container-fluid">
                    <div class = "col-xs-2">Sat, 03/22</div>
                    <div class = "col-xs-2">10:00 AM</div>
                    <div class = "col-xs-2">1:00 PM</div>
                    <div class = "col-xs-2"><input ng-model = venue.pref.one  type="checkbox" name="preference" value="true" class="green"></input></div>
                    <div class = "col-xs-2"><input ng-model = venue.pref.two type="checkbox" name="preference" value="true" class="yellow"></input></div>
                    <div class = "col-xs-2"><input ng-model = venue.pref.no type="checkbox" name="preference" value="true" class="stop"></input></div>
                </div>
            </div>
        </div>
    </div>

    <div class= 'col-xs-12 col-md-6 col-md-offset-3 userSubmit'>
        <button class= "green btnUser" ng-click="submit(venue)" >SUBMIT</button>
    </div>
</div>