<div>
    <div class= 'col-xs-12 col-md-6 col-md-offset-3 venueBox'>
        <div  class = "col-xs-12 venueContainer" ng-repeat=" venue in venues.data" >
            <div class = 'orange  row container-fluid venueWrapper' ng-click = 'display = !display'>
                <div class = 'vTop orange col-xs-12 slightSqound'><p class="tabLabel whiteText">{{venue.venueName}}</p></div>
            </div>
            <div ng-show = 'display' >
                <div class = "venueHeader yellow  row container-fluid">
                    <div class = "col-xs-2">Date:</div>
                    <div class = "col-xs-2">Arrival:</div>
                    <div class = "col-xs-2">Event:</div>
                    <div class = "col-xs-2">1st</div>
                    <div class = "col-xs-2">2nd</div>
                    <div class = "col-xs-2">Unable</div>
                </div>
                <div class = "venueOptions row container-fluid" ng-repeat="event in venue.events">
                    <div class = "col-xs-2">{{event.event.eventDate | date: 'mediumDate' }}</div>
                    <div class = "col-xs-2">{{event.event.arrivalTime | date: 'h:mm a' }}</div>
                    <div class = "col-xs-2">{{event.event.gameTime | date: 'h:mm a'}}</div>
                    <form novalidate>
                        <div class = "col-xs-2"><input ng-model = event.event.preferences.first   type="radio" name="preference" value=true class="green"/>{{$index}}</div>
                        <div class = "col-xs-2"><input ng-model = event.event.preferences.second  type="radio" name="preference" value=true class="yellow"/>{{$index}}</div>
                        <div class = "col-xs-2"><input ng-model = event.event.preferences.cannot  type="radio" name="preference" value=true class="stop"/>{{$index}}</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <p> venuename: {{venues.data[1].venueName}}</p>
    <!--<p> events: {{venues.data[1].events}}</p>-->
    <p> event 1: {{venues.data[1].events[0]}}</p>
    <p> event 2: {{venues.data[1].events[1]}}<p>
    <p> date: {{venues.data[1].events[0].event.eventDate}}</p>
    <div class= 'col-xs-12 col-md-6 col-md-offset-3'>
        <button type="button" class= "green btnUser" ng-click="submit(venues)" >SUBMIT</button>
    </div>

</div>



<!--<div ng-controller="PostCtrl as post">-->
    <!--<form ng-submit="post.addMessage(post.newMessage)">-->
        <!--<input type="text" ng-model="post.newMessage">-->
        <!--<button type="submit">Add Message</button>-->
    <!--</form>-->
<!--</div>-->