<div>
    <div class= 'col-xs-12 col-md-6 col-md-offset-3 venueBox'>
        <div  class = "col-xs-12 venueContainer" ng-repeat=" venue in venues.data" >
            <div class = 'orange  row container-fluid venueWrapper'>
                <div class = 'vTop orange col-xs-12 slightSqound'><p class="venueLabel whiteText">{{venue.venueName}}</p></div>
            </div>
            <div>
                <div class = "venueHeader yellow  row container-fluid">
                    <div class = "col-xs-2">Date:</div>
                    <div class = "col-xs-2">Arrival:</div>
                    <div class = "col-xs-2">Event:</div>
                    <div class = "col-xs-2">1st</div>
                    <div class = "col-xs-2">2nd</div>
                    <div class = "col-xs-2">Unable</div>
                </div>
                <div  class = "venueOptions row container-fluid" ng-repeat="event in venue.events">
                    <div class = "col-xs-2">{{event.event.eventDate | date: 'shortDate' }}</div>
                    <div class = "col-xs-2">{{event.event.arrivalTime | date: 'h:mm a' }}</div>
                    <div class = "col-xs-2">{{event.event.gameTime | date: 'h:mm a'}}</div>
                    <form name = 'prefForm'>
                        <div class = "col-xs-2" ng-if = "verify(event.event.organization)"><input required ng-model = prefForm.preferences  type="radio" name="preference" value="first" class="green" /></div>
                        <div class = "col-xs-2" ng-if = "verify(event.event.organization)"><input required ng-model = prefForm.preferences  type="radio" name="preference" value="second" class="yellow" /></div>
                        <div class = "col-xs-1" ng-if = "verify(event.event.organization)"><input required ng-model = prefForm.preferences  type="radio" name="preference" value="cannot" class="stop" /></div>
                        <div class = "row">
                            <div class = "col-xs-12">
                        <div class = "row">
                        <div class = "col-xs-8 submitBy">Please submit by: {{event.event.submitBy | date: 'mediumDate' }}</div>
                        <div class="col-xs-4 submitButton">
                        <button ng-if = "verify(event.event.organization)" ng-disabled = "prefForm.$invalid" ng-click="submit( $parent.venue._id, event._id, prefForm.preferences )"  type="submit" class= "green btnUser" >SUBMIT</button>
                        <button ng-if = "!verify(event.event.organization)" type="button" class= "green btnUser" ng-click="reset( $parent.venue._id, event._id, event.event.organization )" >RESET</button>
                        <!--<p>{{event.event.organization}}</p>-->
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
        <div class= 'col-xs-12'>
        </div>

</div>



